

#home-nav {
  color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the content */
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}



.index-table {
  height: 10vh; 
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.index-h2 {
  text-align: center;
}


#show-cont {
  height: 10vh; 
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#show-page {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style: solid;
  border-color: black;
}