<%- include('../partials/header') %>
<form action="/items/<%= item.id %>?_method=PUT" method="POST" >
    <label>Title:</label>
    <input type="text" name="title">
    <label>Color:</label>
    <input type="text" name="color">
    <label>Location</label>
        <select name="location">
            <option value="Living-Room">Living Room</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Bedroom">Bedroom</option>
            <option value="Bathroom">Bathroom</option>
        </select>
    <label>Link:</label>
    <input type="text" name="link">
    <label>Status:</label>
    <select name="itemStatus" id="itemStatus">
        <option value="In-Home">In Home</option>
        <option value="Desired">Desired</option>
      </select>
      <label>Additional Details:</label>
      <textarea name="moreDetails"></textarea>

    <button type="submit">Update Item</button>
</form>


<%- include('../partials/footer') %>